dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# environment variables
.env
.env.production
.env.*.local
.env.local

.vscode/
.vercel
.vercel/

.DS_Store
Thumbs.db