<nav class="bg-blue-100 border border-blue-300 rounded-lg px-6 py-4 shadow-sm max-w-7xl mx-auto">
    <div class="flex items-center justify-between">
        <span class="font-medium text-blue-700 text-lg">Pages</span>
        <button id="navbar-toggle" class="text-blue-700 hover:text-blue-900 focus:outline-none">
            <i class="fas fa-bars text-2xl"></i>
        </button>
    </div>
    <div id="navbar-links" class="flex flex-col sm:flex-row sm:flex-wrap gap-2 mt-2 hidden">
        <a href="/index.html" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 inline-block">
            About Me
        </a>
        <a href="/pages/connect.html" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 inline-block">
            Connect
        </a>
        <a href="/pages/research.html" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 inline-block">
            Research
        </a>
        <a href="/pages/projects.html" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 inline-block">
            Projects
        </a>
        <!--  <a href="/pages/blog.html" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 inline-block">
            Blog
        </a> -->
        <a href="/assets/JL_resume.pdf" target="_blank" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 inline-block">
            Resume
        </a>
        <!-- <a href="/api/login.php" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 inline-block">
            Login
        </a> -->
    </div>
</nav>
<h1 id="page-title" class="text-4xl font-semibold text-center mt-6"></h1>
